<!-- <div *ngIf="product.title" class="card" style="width: 15rem;"> -->
<div *ngIf="product.title" class="card">
  <img *ngIf="product.imageUrl" src="{{ product.imageUrl }}" class="card-img-top" alt="{{ product.title }}">
  <div class="card-body">
    <h5 class="card-title">{{ product.title }}</h5>
    <p class="card-text">{{ product.price | currency:'USD' }}</p>
  </div>
  <div *ngIf="showActions" class="card-footer">
    <!-- <a *ngIf="showActions" href="#" class="btn btn-primary btn-block">{{ buttonDescription }}</a> -->
    <button
    (click)="addToCart(product)"
    class="btn btn-primary btn-block">{{ buttonDescription }}</button>
    <div>{{ shoppingQty }}</div>
  </div>
</div>
