<div class="row">
  <div class="col-3">
    <product-filter [selectedCategory]="selectedCategory"></product-filter>
  </div>
  <div class="col">
    <div class="row">
      <!-- This is the previous way using a observable with teh async pipe to unsubscribe-->
      <!-- <ng-container *ngFor="let p of productList$ | async; let i = index"> -->
      <ng-container *ngFor="let p of filteredProducts; let i = index">
        <div class="col">
          <product-card
          [product]='p'
          [buttonDescription]="'Add to Cart'"
          [showActions]='true'
          ></product-card>
        </div>
        <!-- This is a line brake to brake by each two cards -->
        <div *ngIf="(i + 1) % 2 === 0" class="w-100"> </div>
      </ng-container>
    </div>
  </div>
</div>
